body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
}
header, section{
    display: grid;
    grid-template-areas: "logo image";
    grid-template-columns: 0.6fr 0.4fr;
}
section{
    margin: 50px;
    margin-top: 100px;
    border: 1px solid black;
}
img{
    width: 100px;
    height: 100px;
}

.logo-and-text{
    grid-area: "logo";
    background: linear-gradient(to top right, rgb(128, 128, 128) 10%, grey 20%, white 40%);
    font-size: larger;
}
.logo-and-text img{
    width: 100%;
    height: 300px;
}

.art{
    grid-area: "art";
}

.art img{
    width: 100%;
    height: 100%;
}

.calculations{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}

.calculations h2{
    font-size: 50px;
}

.select-div{
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border: none;
    height: 100px;
    gap: 50px;
}

.select-div select, option{
    width: 250px;
    border: none;
    background-color: aliceblue;
    font-weight: 600;
    font-size: x-large;
}

.contain-ipo{
    display: grid;
    grid-template-areas: "in-one arith in-two"
                         "out-one arith out-two"
                         "result result result"
                         "equals equals equals";   
}
#in1{
    grid-area: "in-one";
}
#in2{
    grid-area: "in-two";
}
#out1{
    grid-area: "out-one";
}

#out2{
    grid-area: "out-two";
}

.arith{
    grid-area: "arith";
    display: flex;
    flex-direction: column;
}
.result{
    grid-area: "result";
}

